
<div class="d-flex row justify-content-center w-120 mx-auto mb-5">

  <div class="justify-content-around col-6 d-flex flex-wrap h-20 align-items-center mx-auto">
    <% @movies_array.each do |movie| %>
      <div class="col-2 movie-container-home">
      <%= link_to movie_path(movie) do %>
        <%=image_tag "https://image.tmdb.org/t/p/w500#{movie.poster_url}", class: 'movie-img-home rounded' %>
          <div class="title-container-home">
            <p><%= movie.title.slice(0,18)+(movie.title.length > 18 ? "..." : "") %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  
</div>