
<h1 class="text-center m-5">Filme</h1>

<div class="d-flex justify-content-around align-items-center">

  <div>
    <%=image_tag "https://image.tmdb.org/t/p/w500#{@movie.poster_url}", alt: @movie.poster_url %>
  </div>

  <% if @movie.trailer_url %>
  <iframe src='https://www.youtube.com/embed/<%= @movie.trailer_url %>?rel=0&autoplay=<%= params[:autoplay] || 0 %>' frameborder='0' allowfullscreen></iframe>
  <% end %>
</div>
