<div class="footer d-flex justify-content-center flex-row ">
  <div class="footer-copyright tmdb-logo align-self-center footer-tmdb">
    Fonte: 
  </div>

  <div class="footer-copyright tmdb-logo align-self-center pl-3">
    <%= link_to "https://www.themoviedb.org/", target: :_blank, class: "navbar-brand" do %>
      <%= image_tag "https://res.cloudinary.com/dsjv33crm/image/upload/v1623367842/indicaria/tmdb_zxgwmu.png" %>
    <% end %>
  </div>

  <div class="align-self-center pl-5"> 
    ©2021 by Indicaria
  </div>

  <div class="footer-copyright footer-links align-self-center">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://res.cloudinary.com/dsjv33crm/image/upload/v1623324507/indicaria/logo_shadow_sfqgfg.png" %>
    <% end %>
  </div>

  <div class="align-self-center">
    Quem Somos
  </div>

</div>
