<div class="container mt-5 d-flex flex-row border">
  <div class="div-avatar border border-secondary justify-content-center">
    <%= image_tag "https://res.cloudinary.com/dsjv33crm/image/upload/v1623365865/indicaria/button_heart_vbbkng.png" %>
    Likes
  </div>


  <div class="row align-items-center border grow">

  </div>

</div>
