h2 {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  color: #698996;
}

.indica {
  font-family: Poppins, sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #832161;
  padding-left: 15%;
}

.indicaria-logo {
  width: 400px;
  padding-top: 25%;


}