.poster-movie-index {
  background: justify;
  opacity: 1;
  width: 180px;
  position: relative;
  box-sizing: border-box;
}

.movies-infos-index {
  text-align: justify;
  position: relative;
  color: black;

  h3 {
    font-size: 24px;
    font-weight: regular;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-family: 'Poppins', sans-serif;
    text-align: justify;
      &:hover {
          font-weight: bold;
      }
  }

  p {
    font-size: 14px;
    font-weight: regular;
    font-family: 'Raleway', sans-serif;
  }
}

.movie-img-index {
  width: 100%;
  max-width: 180px !important;
  object-fit: cover;
  object-position: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    &:hover {
          box-shadow: rgba(0, 0, 0, 0.22) 0px 22px 70px 4px;
      }
}

.item-genero {
  font-size: 14px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: 'Poppins', sans-serif;
}

.info-genero {
  font-size: 14px;
  font-weight: normal;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: 'Raleway', sans-serif;
    &:hover {
          font-weight: bold;
      }
}
