.navbar-lewagon {
  justify-content: space-between;
  background: #4B636C;
  height: 80px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}

.navbar-link {
  font-family: 'Montserrat', sans-serif;
  color: rgb(175, 166, 166);
  padding: .35rem .5rem;
  color: white;
  font-size: 1rem;
  border-radius: 3px;
  font-weight: 500;
    &:hover {
      color: white;
      padding: .35rem .5rem;
      font-size: 1rem;
      border-radius: 3px;
      font-weight: 500;
      text-decoration: none;
      background-color: #832161;
  }
}