.movies-recap {
  text-align: justify;
  position: relative;
  text-decoration: none;

  h3 {
    font-size: 22px;
    font-weight: regular;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
  }

  p {
    font-size: 14px;
    font-weight: regular;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
  }
}

.poster-profile {
  background: center;
  opacity: 1;
  width: 150px;
  position: relative;
  box-sizing: border-box;
  padding-bottom: 50px;
  text-decoration: none;
}

.movie-img {
  width: 100%;
  min-width: 120px !important;
  object-fit: cover;
  object-position: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  text-decoration: none;
}

.movie-show-link {
  text-decoration: none !important;
}

.div-avatar {
  width: 350px;
  height: 370px;
}