.title {
  font-size: 42px;
  font-weight: regular;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: 'Lobster', sans-serif;
  text-align: center;
}

.items {
    font-size: 22px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-family: 'Poppins', sans-serif;
    padding-top: 15px;
}

.info {
    font-size: 20px;
    font-weight: normal;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}

.provider {
    font-size: 22px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-family: 'Poppins', sans-serif;
}

.provider-logo {
  width: 85px;
}

.movie-poster {
  height: 530px;
}

.back-button {
  background-color: #698996;
  flex-grow: 1;
}

.trailer {
  width: 697px !important;
  height: 392px !important;
  border: 1px solid black;
  border-radius: 2px;
}
